---
import { Image } from "astro:assets";
import { changeLanguage } from "i18next";
import MainWebsite from "@layouts/MainWebsite.astro";
import { t, translatePath } from "@utils/i18n";
import iForgotPasswordIllustration from "@assets/illustrations/accounts/forgotpassword.png";

changeLanguage("hi");
---

<MainWebsite
    title={t.accounts.forgotpassword.title}
    description={t.accounts.forgotpassword.description}
>
    <section class="relative py-12 lg:pt-32 lg:pb-32">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div class="mr-12 lg:pl-12">
                    <span
                        class="h-12 px-7 py-3.5 bg-neutral-0 dark:bg-neutral-dark-0 rounded-3xl border border-neutral-300 dark:border-neutral-dark-300 text-neutral-700 dark:text-neutral-dark-700 text-base font-bold leading-none mb-4 inline-block"
                    >
                        {t.accounts.forgotpassword.form.notice}
                    </span>
                    <h3 class="heading-3 mb-2">
                        {t.accounts.forgotpassword.form.title}
                    </h3>
                    <p
                        class="text-neutral-700 dark:text-neutral-dark-700 mb-16 font-medium text-2xl"
                    >
                        {t.accounts.forgotpassword.form.subtitle}
                    </p>
                    <form action="">
                        <div class="form-group mb-4">
                            <label for="email" class="input-label">
                                {t.accounts.forgotpassword.form.labels.email}
                            </label>
                            <input
                                type="email"
                                placeholder={t.accounts.forgotpassword.form
                                    .placeholders.email}
                                class="input-lg"
                            />
                        </div>
                        <button
                            type="submit"
                            class="w-full btn bg-primary-light-950 dark:bg-primary-dark-950 rounded-full px-8 py-4 text-xl text-neutral-950 dark:text-neutral-dark-950 font-bold text-center"
                        >
                            {t.accounts.forgotpassword.form.labels.submit}
                        </button>

                        <p
                            class="text-lg font-medium text-neutral-700 dark:text-neutral-dark-700 pt-8 pb-12"
                        >
                            {
                                t.accounts.forgotpassword.form
                                    .account_doesnot_exist
                            }
                            <a
                                href={translatePath("/accounts/signup")}
                                class="text-neutral-950 dark:text-neutral-dark-950 underline"
                            >
                                {
                                    t.accounts.forgotpassword.form.links
                                        .create_account
                                }
                            </a>
                        </p>
                    </form>
                </div>
                <!--Left col-->
                <div class="lg:pl-12 hidden lg:block">
                    <div
                        class="w-full md:max-w-[565px] rounded-[26px] bg-gradient-to-t from-primary-light-950 via-primary-light-300 to-primary-light-200 p-2"
                    >
                        <Image
                            src={iForgotPasswordIllustration}
                            class="rounded-3xl md:max-w-[550px]"
                            alt="signup illustration"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
</MainWebsite>
