---
import { Image } from "astro:assets";
import { changeLanguage } from "i18next";
import MainWebsite from "@layouts/MainWebsite.astro";
import { translatePath, t } from "@utils/i18n";

import iHero from "@assets/illustrations/about/hero.png";
import i1 from "@assets/illustrations/about/1.png";
import iAvatar1 from "@assets/avatar/avatar-03.png";
import iAvatar2 from "@assets/avatar/avatar-04.png";
import iAvatar3 from "@assets/avatar/avatar-05.png";
import iGallery1 from "@assets/illustrations/gallery/gallery-01.png";
import iGallery2 from "@assets/illustrations/gallery/gallery-02.png";
import iGallery3 from "@assets/illustrations/gallery/gallery-03.png";
import iGallery4 from "@assets/illustrations/gallery/gallery-04.png";
import iGallery5 from "@assets/illustrations/gallery/gallery-05.png";
import iGallery6 from "@assets/illustrations/gallery/gallery-06.png";

changeLanguage("hi");
---

<MainWebsite title={t.site.title} description={t.site.description}>
    <!-- Content -->
    <section class="py-16 lg:py-24">
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row">
                <!-- Left column (your existing content) -->
                <div class="md:w-3/4 lg:w-1/2">
                    <h1
                        class="heading-2 max-w-7xl mb-12 text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.hero.title}
                    />
                    <p
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.hero.paragraph1}
                    />
                    <p
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.hero.paragraph2}
                    />
                    <p
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.hero.paragraph3}
                    />
                    <p
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.hero.paragraph4}
                    />
                </div>

                <!-- Right column (new content) - hidden on mobile, visible on md screens and up -->
                <div
                    class="hidden lg:flex lg:w-1/2 lg:pl-8 justify-center items-center"
                >
                    <Image src={iHero} alt="About us illustration" />
                </div>
            </div>

            <div class="grid md:grid-col-2 lg:grid-cols-4 mt-24">
                <div class="flex flex-col">
                    <h6
                        class="text-2xl font-bold mb-4 text-neutral-900 dark:text-neutral-dark-900"
                    >
                        {t.site.address.name}
                    </h6>
                    <p
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                    >
                        {t.site.address.label}
                    </p>
                </div>
                <div class="flex flex-col">
                    <h6
                        class="text-2xl font-bold mb-4 text-neutral-900 dark:text-neutral-dark-900"
                    >
                        {t.site.email.name}
                    </h6>
                    <a
                        class="mb-8 text-base font-md text-neutral-950 dark:text-neutral-dark-950"
                        href={t.site.email.value}
                    >
                        {t.site.email.label}
                    </a>
                </div>
                <div class="flex flex-col">
                    <h6
                        class="text-2xl font-bold mb-4 text-neutral-900 dark:text-neutral-dark-900"
                    >
                        {t.site.mobile.name}
                    </h6>
                    <a
                        class="mb-8 text-base font-md text-neutral-700 link-hover hover:text-neutral-950 dark:text-neutral-0 dark:hover:text-neutral-dark-600"
                        href={t.site.mobile.value}
                    >
                        {t.site.mobile.label}
                    </a>
                </div>
            </div>
            <Image
                src={i1}
                alt="About us illustration"
                class="mt-12 rounded-3xl"
            />
        </div>
    </section>
    <section class="pb-12 lg:pb-24">
        <div class="container mx-auto px-4">
            <div class="grid md:grid-cols-2 gap-8">
                <div class="">
                    <h1
                        class="heading-2 max-w-7xl mb-12 text-neutral-950 dark:text-neutral-dark-950"
                        set:html={t.about.experience.title}
                    />
                    <p
                        class="font-light text-lg text-neutral-700 dark:text-neutral-dark-700 mb-24"
                        set:html={t.about.experience.description}
                    />
                    <div class="flex flex-col md:flex-row gap-4">
                        <a
                            href={translatePath("/feedback")}
                            role="button"
                            class="group btn bg-primary-light-950 dark:bg-primary-dark-950 rounded-full px-8 py-4 text-xl text-neutral-950 dark:text-neutral-dark-950 flex gap-2 items-center"
                        >
                            <span>{t.about.experience.cta1}</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 24 24"
                                class="fill-neutral-950 dark:fill-neutral-dark-950 group-hover:translate-x-1 transition-all duration-300"
                            >
                                <g clip-path="url(#clip0_253_4238)">
                                    <path
                                        d="M23.6164 11.0663L14.9491 2.39884C14.7017 2.15143 14.372 2.01562 14.0204 2.01562C13.6684 2.01562 13.3388 2.15162 13.0914 2.39884L12.3045 3.18596C12.0573 3.43298 11.9211 3.76293 11.9211 4.11473C11.9211 4.46634 12.0573 4.80741 12.3045 5.05443L17.3608 10.1219H1.29657C0.572288 10.1219 0 10.6889 0 11.4134V12.5262C0 13.2507 0.572288 13.8748 1.29657 13.8748H17.4182L12.3047 18.9706C12.0575 19.218 11.9213 19.539 11.9213 19.8908C11.9213 20.2422 12.0575 20.5679 12.3047 20.8151L13.0916 21.5997C13.339 21.8471 13.6686 21.9819 14.0206 21.9819C14.3722 21.9819 14.7019 21.8453 14.9493 21.5979L23.6166 12.9307C23.8646 12.6825 24.001 12.3512 24 11.999C24.0008 11.6456 23.8646 11.3141 23.6164 11.0663Z"
                                    ></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_253_4238">
                                        <rect width="24" height="24"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <a
                            href="page-contact.html"
                            role="button"
                            class="btn border border-neutral-950 dark:border-neutral-dark-300 dark:bg-neutral-dark-0 rounded-full px-8 py-4 text-xl text-neutral-950 dark:text-neutral-dark-950 items-center"
                            >{t.about.experience.cta2}</a
                        >
                    </div>
                </div>
                <div class="flex flex-col gap-16 lg:pl-24">
                    <div class="test-monials flex flex-col flex-wrap gap-8">
                        <p
                            class="text-base font-medium text-neutral-950 dark:text-neutral-dark-950"
                        >
                            {t.about.testimonials.testimonial1.text}
                        </p>
                        <div class="flex flex-wrap flex-row gap-3 items-center">
                            <Image
                                src={iAvatar1}
                                alt=""
                                class="rounded-full size-16"
                            />
                            <div class="flex flex-col">
                                <h6
                                    class="text-base font-bold mb-1 text-neutral-900 dark:text-neutral-dark-900"
                                >
                                    {t.about.testimonials.testimonial1.name}
                                </h6>
                                <p
                                    class="text-xs font-medium text-neutral-700 dark:text-neutral-dark-700"
                                >
                                    {t.about.testimonials.testimonial1.role}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial -->
                    <div class="test-monials flex flex-col flex-wrap gap-8">
                        <p
                            class="text-base font-medium text-neutral-950 dark:text-neutral-dark-950"
                        >
                            {t.about.testimonials.testimonial2.text}
                        </p>
                        <div class="flex flex-wrap flex-row gap-3 items-center">
                            <Image
                                src={iAvatar2}
                                alt=""
                                class="rounded-full size-16"
                            />
                            <div class="flex flex-col">
                                <h6
                                    class="text-base font-bold mb-1 text-neutral-900 dark:text-neutral-dark-900"
                                >
                                    {t.about.testimonials.testimonial2.name}
                                </h6>
                                <p
                                    class="text-xs font-medium text-neutral-700 dark:text-neutral-dark-700"
                                >
                                    {t.about.testimonials.testimonial2.role}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial -->
                    <div class="test-monials flex flex-col flex-wrap gap-8">
                        <p
                            class="text-base font-medium text-neutral-950 dark:text-neutral-dark-950"
                        >
                            {t.about.testimonials.testimonial3.text}
                        </p>
                        <div class="flex flex-wrap flex-row gap-3 items-center">
                            <Image
                                src={iAvatar3}
                                alt=""
                                class="rounded-full size-16"
                            />
                            <div class="flex flex-col">
                                <h6
                                    class="text-base font-bold mb-1 text-neutral-900 dark:text-neutral-dark-900"
                                >
                                    {t.about.testimonials.testimonial3.name}
                                </h6>
                                <p
                                    class="text-xs font-medium text-neutral-700 dark:text-neutral-dark-700"
                                >
                                    {t.about.testimonials.testimonial3.role}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial -->
                </div>
            </div>
        </div>
    </section>
    <section class="pb-24">
        <div class="container mx-auto px-4">
            <h1
                class="heading-2 max-w-7xl mb-12 text-neutral-950 dark:text-neutral-dark-950"
                set:html={t.about.gallery.title}
            />
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px]"
            >
                <a
                    href="assets/imgs/gallery/gallery-01.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery1} alt="" /></a
                >
                <a
                    href="assets/imgs/gallery/gallery-02.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery2} alt="" /></a
                >
                <a
                    href="assets/imgs/gallery/gallery-03.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery3} alt="" /></a
                >
                <a
                    href="assets/imgs/gallery/gallery-04.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery4} alt="" /></a
                >
                <a
                    href="assets/imgs/gallery/gallery-05.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery5} alt="" /></a
                >
                <a
                    href="assets/imgs/gallery/gallery-06.png"
                    data-lightbox="ideko-gallery"
                    ><Image src={iGallery6} alt="" /></a
                >
            </div>
        </div>
    </section>
</MainWebsite>
